[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".local/share/fonts/adobe-fonts/source-code-pro"]
	path = .local/share/fonts/adobe-fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
[submodule ".doom.d"]
	path = .doom.d
	url = https://github.com/ferhaterata/.doom.d
[submodule ".config/vifm/colors"]
	path = .config/vifm/colors
	url = https://github.com/vifm/vifm-colors.git
