#Ferhat Erata
#blacklist top level folder
/*

#whitelist files & folders
!.gitignore
!README.md
# 
!.config
.config/*

# ranger configurations
!.config/ranger
.config/ranger/*
!.config/ranger/plugins
!.config/ranger/rc.conf
!.config/ranger/README.md
!.config/ranger/rifle.conf
!.config/ranger/scope.sh
!.config/ranger/commands.py

# bash configurations
!.bashrc
!.bash_profile
!.bash_aliases
!.profile

# GNU Readline
!.inputrc

# spacemacs configuration
!.spacemacs

# vim configurations
!.vimrc
!.vim/
.vim/*
!.vim/autoload
    
# ssh configurations
#!.ssh/
#.ssh/*
#!.ssh/config
