[user]
	name = Ferhat Erata
	email = ferhat.erata@yale.edu
[core]
	editor = nvim
	excludesfile = /home/ferhat/.gitignore_global
[color]
	ui = true
[merge]
	tool = vimdiff
[credential]
	helper = cache
