#Ferhat Erata

#blacklist top level folder
/*

#whitelist files & folders
!.gitignore
!.gitignore_global
!.gitconfig
!README.md
# 
!.config
.config/*

# ranger configurations
!.config/ranger
.config/ranger/*
!.config/ranger/plugins
!.config/ranger/rc.conf
!.config/ranger/README.md
!.config/ranger/rifle.conf
!.config/ranger/scope.sh
!.config/ranger/commands.py

# vifm configurations
!.config/vifm

# bat configuration
!.config/bat
.config/bat/*
!.config/bat/config

# bash configurations
!.bashrc
!.bash_profile
!.bash_aliases
!.profile
!.forgit.bash
.github_token    
!.bash_completion.d
# to trim command headers in vscode terminal
!.bashrc-vscode

# GNU Readline
!.inputrc

# tmux
!.tmux.conf
#!.tmux-line.conf
!.gitmux.conf

# emacs
!.emacs
!.emacs-profiles.el

# spacemacs configuration
!.spacemacs

# doom-emacs
!.doom.d/
doom.d/.directory

# vim configurations
!.vimrc-my
!.vim-my/
.vim-my/*
!.vim-my/autoload

# ideavmrc setting for clion and intellij
!.ideavimrc

# SpaceVim
!.SpaceVim.d
.netrwhist

!.SpaceVim
.SpaceVim/*
!.SpaceVim/coc-settings.json

!vimium-options.json
!okular.shortcuts
!.xmodmap

# ssh configurations
#!.ssh/
#.ssh/*
#!.ssh/config

!.local
.local/*

!.local/share
.local/share/*

# fonts
!.local/share/fonts/
#.local/share/fonts/*
.local/share/fonts/.directory
.local/share/fonts/*/.directory
.local/share/fonts/.uuid
.local/share/fonts/*/.uuid
!.local/share/fonts/adobe-fonts
.local/share/fonts/adobe-fonts/source-code-pro/*
 
# specific binaries
!.local/bin
.local/bin/*
!.local/bin/gitmux
!.local/bin/lazygit
!.local/bin/fzf-my

